<div class="max-w-sm mx-auto md:max-w-none">
    <div class="grid gap-12 md:grid-cols-3 md:gap-x-6 md:gap-y-8 items-start">

        <!-- 1st article -->
        {{#articles}}
        <article class="flex flex-col h-full" data-aos="zoom-y-out">
            <header>
                <a class="block mb-6" href="{{link}}" target="_blank">
                    <figure class="relative h-0 pb-9/16 overflow-hidden translate-z-0 rounded">
                        <img class="absolute inset-0 w-full h-full object-cover transform scale-105 hover:-translate-y-1 transition duration-700 ease-out" src="{{image}}" width="352" height="198" alt="News 01" />
                    </figure>
                </a>
                <h3 class="text-xl font-bold leading-snug tracking-tight">
                    <a class="hover:underline" href="{{link}}">{{title}}</a>
                </h3>
            </header>
            <footer class="text-sm flex items-center mt-4">
                <div>
                    <span class="text-gray-600">By </span>
                    <a class="font-medium hover:underline" href="#0">{{author}}</a>
                </div>
            </footer>
        </article>
        {{/articles}}

    </div>
</div>