<head>
    <meta charset="utf-8">
    <title>Rave Me Away</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{{CDN}}}/css/vendors/aos.css" rel="stylesheet">
    <link href="{{{CDN}}}/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{{CDN}}}/images/favicon.png">
</head>