<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-32 md:pb-20">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                <h1 class="h1 mb-4"><span class="bg-clip-text text-transparent bg-gradient-to-r bg-purple-1000">{{how_it_works_title}}</span></h1>
                <p class="text-xl text-gray-600">
                    {{how_it_works_desc}}
                </p>
            </div>

            <figure class="flex justify-center items-start">
                <img class="rounded shadow-2xl" src="{{image}}" width="500" height="300" alt="About us" />
            </figure>

        </div>
    </div>
</section>