<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                <h2 class="h2"><span class="bg-clip-text text-transparent bg-gradient-to-r bg-purple-1000">In The News</span></h2>
            </div>

            <!-- Categories -->

            <!-- Articles list -->
            {{>articles}}
            
        </div>
    </div>
</section>