<!doctype html>
<html lang="en">

{{>head}}

<body class="font-inter antialiased bg-white text-gray-900 tracking-tight">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip">

        <!-- Site header -->
        {{>site-header}}

        <!-- Page content -->
        <main class="grow">

            <!-- Intro -->
            {{>intro-how-it-works}}

            <!-- Story -->

            {{>story}}
            
            <!-- Stats -->
            
            <!-- Team -->
            
            <!-- Career -->
            
            <!-- Process -->
            
            <!-- Cta -->

        </main>

        <!-- Site footer -->
        {{>footer}}

    </div>

    <script src="/js/vendors/alpinejs.min.js" defer></script>
    <script src="/js/vendors/aos.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>